<%layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campground/new" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label text-muted" for="title">Campground Title:</label>
                <input class="form-control" type="text" name="campground[title]" id="title"  required>
           
            </div>
            <div class="mb-3">
                <label class="form-label text-muted" for="location">Location:</label>
                <input class="form-control" type="text" name="campground[location]" id="location"  required>
                <div class="valid-feedback">
                    <strong>Looks Good!!</strong>
                </div>
            </div>
            <div class="mb-3">
            <!--  <label class="form-label text-muted" for="image">Image:</label>
                <input class="form-control" type="text" name="campground[image]" id="image"  required>
                <div class="valid-feedback">
                    <strong>Looks Good!!</strong>
                </div>-->
                <label class="form-label text-muted" for="image">Image:</label>
                <input class="form-control" type="file" name="image" id="image"  required multiple>
                <div class="valid-feedback">
                    <strong>Looks Good!!</strong>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label text-muted" for="description">Description:</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required ></textarea>
                <div class="valid-feedback">
                    <strong>Looks Good!!</strong>
                </div>
            </div>
            <div class="mb-3 ">
                <label class="form-label text-muted"for="price">Price:</label>
                <div class="input-group ">
                    <span class="input-group-text">$</span>
                    <input type="text" id="price" class="form-control" aria-label="price" name="campground[price]" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        <strong>Looks Good!!</strong>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Save </button>
            </div>
          
        </form>
        <a class="text-warning" href="/campground">Cancel</a>
    
    </div>
</div>


<script>
    (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>